import '${inputName}_contract.dart';

/// @desc TODO
/// @time 
/// @author 
class ${upperName}Model extends CommonModel implements Model {
   @override
   void dispose(){
       //TODO: implement dispose 
   }
}