import 'package:flutter_mvp/model/abstract_model.dart';
import '${inputName}_contract.dart';


/// @desc TODO
 /// @time 
 /// @author 
 class ${upperName}Model extends AbstractModel implements Model {
   @override
   void dispose(){
       //TODO: implement dispose 
   }
}