import 'package:flutter_mvp/model/i_model.dart';
import 'package:flutter_mvp/presenter/i_presenter.dart';
import 'package:flutter_mvp/view/i_view.dart';

/// @desc TODO
/// @time 
/// @author 
abstract class View implements IView {}

abstract class Presenter implements IPresenter {}

abstract class Model implements IModel {}
