/// @desc TODO
/// @time 2019/11/25 10:39
/// @author mrliuys
abstract class View implements ICommonView {}

abstract class Presenter implements ICommonPresenter {}

abstract class Model implements ICommonModel {}
